body {
    background-color: var(--background);
    color: var(--text-information);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: var(--space-md);
}

/* Global Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-information);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}