.chapter_list_panel {
    width: 300px;
    border-left: 1px solid var(--border-color);
    padding: 20px;
    background-color: var(--background);
}

.chapter_list_panel h2 {
    color: var(--text-primary);
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.chapter_list_panel ul {
    list-style: none;
    padding: 0;
}

.chapter_list_panel li {
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-information);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chapter_actions {
    display: flex;
    gap: 10px;
}

.add_chapter_button {
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--text-information);
    cursor: pointer;
    font-size: 1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.add_chapter_button:hover {
    color: var(--text-primary);
    border-color: var(--text-primary);
    background-color: var(--background-light);
}

.add_chapter_container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}