.create_form input {
    width: 100%;
    padding: var(--space-sm);
    margin-bottom: var(--space-sm);
    background-color: var(--background-light);
    border: 1px solid var(--border-color);
    color: var(--text-primary);
    border-radius: var(--radius-sm);
    box-sizing: border-box;
}

.form_actions {
    display: flex;
    gap: var(--space-sm);
}

.form_actions button {
    padding: var(--space-xs) var(--space-sm);
    background-color: var(--background-light);
    color: var(--text-primary);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-sm);
    cursor: pointer;
}

.form_actions button:hover {
    background-color: var(--background-light);
}

.form_actions button.danger {
    background-color: var(--danger-color);
    border-color: var(--danger-color);
    color: white;
}

.form_actions button.danger:hover {
    background-color: var(--color-danger-hover);
    /* Darker shade of red */
}