.create_form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--background-light);
    border: 1px solid var(--border-color);
    color: var(--text-primary);
    border-radius: 5px;
    box-sizing: border-box;
}

.form_actions {
    display: flex;
    gap: 10px;
}

.form_actions button {
    padding: 8px 16px;
    background-color: var(--background-light);
    color: var(--text-primary);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
}

.form_actions button:hover {
    background-color: var(--background-light);
}

.form_actions button.danger {
    background-color: var(--danger-color);
    border-color: var(--danger-color);
    color: white;
}

.form_actions button.danger:hover {
    background-color: #ff3333;
}